@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: theme("colors.pins-secondary");
  background-color: theme("colors.pins-light");

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@layer utilities{
  .purpleButton {
    color: #e9e2ec;
    background-color: #7f5af0;
    padding: 0.5rem 1.25rem; 
    border-radius: 1rem; 
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    transition: transform 0.3s ease; 
  }
  .purpleButton:hover{
    background-color: #7c3aed;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  .postModifyingButtons{
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 20px;
    line-height: 28px;
    border-radius: 9999px;
    padding: 0.5rem;
    border-width: 1px;
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    transition-property: color, background-color, border-color;
    transition-duration: 0.4s;  
  }
  .postModifyingButtons:hover{
    border-color: #8D66FC;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
  }
  .postModifyingButtons:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

}